
.app-specs{
width: 80%;
height: 100%;
margin: 0 auto;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.app-specs h1{
    font-size: 5rem;
    font-weight: 800;
 
    
}
.app-specs h3{
    font-size: 2rem;
    font-weight: 600;
    margin: 30px;
}
.links{
    list-style: none;
    width: 100%;

  height: 50px;
   display: flex;
   gap: 2rem;
   justify-content: flex-end;
}
.links li{
    display: grid;
    place-items: center;
  width: 50px;
  color: black;
   display: inline;
}
.links  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.build-tools{
    padding:20px;
    border:1px dashed #000;
    margin:10px;
    border-radius:10px;
}
.build-tools h4{
    border-bottom: 1px dashed #000;
  
}
.build-tools ul{
    list-style: none;
}

@media  screen and (max-width:900px) {
    .app-specs{
        width: 100%;
    }
  .app-specs h1{
      font-size: 3em;
  }
  
    .app-specs h3{
    font-size: 2em;
    font-weight: 600;
    margin: 30px;
}
}
@media  screen and (max-width:480px) {
  .app-specs h1{
      font-size: 2em;
  }
  
    .app-specs h3{
    font-size: 1em;
    font-weight: 600;
    margin: 10px;
}
}