.contact{
background:black;
padding:30px;
border-radius: 30px 30px 0 0;
z-index: 30;
}
.prompt{
color: white;
display:flex;
justify-content:center;
align-items: center;
gap: 1rem;
letter-spacing:2px;

}
.smiley{
    height:100%;
}

.smiley img{
    height:2rem;
    object-fit: cover;
}
.links {

margin:1rem auto;;
}
.links a{
 color: black;
 font-size:1.1em;
 margin:1rem auto;
 display: block;
 text-decoration: none;
background:var(--primary);
width:200px;
padding:8px 0;
border-radius: 10px;
transition:all 0.5s ease-in-out;
}

.links a:hover{
transform: scale(1.2);
}
.more{
    background: white;
}