.main {
  position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

@media  screen and (max-width:900px) {
    .main{
       grid-template-columns: 1fr;
       place-items: center;
       margin: 0 auto;
    }
    
}

@media screen and (max-width:480px) {
  .main{
    grid-template-columns: 1fr;
  }
}